In [3]:
print("hello")

hello

x=5
print("x is equal to",x)

In [87]:
# import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [61]:
# define custom function
def ConvertDate(a) :
    a = pd.to_datetime(a)
    return a

In [ ]:
# import data

In [88]:
# Import focus parts list
Focus_Parts = [“PN09270”, “PN01325”, “PN08735”, “PN04947”, “PN05409”]
#Focus_WC = [WCA010, WCA002, WCA011, WCA004, WCA004]
Type(Focus_Parts)

SyntaxError: invalid character '“' (U+201C) (2299332955.py, line 2)

In [83]:
    # import Part Detail
PartDetail = pd.read_csv('Part x WCentre.csv',index_col = 0)
PartDetail.head()

            Work Centre
Part Number
PN00638          WCA006
PN00639          WCA006
PN00640          WCA006
PN00654          WCA010
PN00655          WCA010

In [84]:
    # import Order Detail
OrderDetail = pd.read_csv('FO Order list.csv')
OrderDetail.head()

,FO ref,Part Number,FO Start,FO Due,FO Issue,FO Confirmed,FO Finish
0,FO6779226,PN04908,2021-03-05,2022-02-22,2021-03-08,2022-02-22,2022-02-22
1,FO6796679,PN04211,2021-08-16,2022-01-26,2021-08-17,2022-01-26,2022-01-26
2,FO6792062,PN03734,2021-08-19,2022-01-04,2021-08-20,2022-01-04,2022-01-04
3,FO6295925,PN06927,2021-10-11,2022-01-31,2021-10-11,2022-01-31,2022-01-31
4,FO6297996,PN06926,2021-10-18,2022-02-01,2021-10-19,2022-02-01,2022-02-01

In [73]:
# clean data
OrderDetail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15311 entries, 0 to 15310
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FO ref        15311 non-null  object
 1   Part Number   15311 non-null  object
 2   FO Start      15311 non-null  object
 3   FO Due        15311 non-null  object
 4   FO Issue      15309 non-null  object
 5   FO Confirmed  15124 non-null  object
 6   FO Finish     15311 non-null  object
dtypes: object(7)
memory usage: 837.4+ KB

In [74]:
# manipulate data

# join tables
OrderDetail_wc = OrderDetail.merge(PartDetail, on='Part Number')
OrderDetail_wc.head()

,FO ref,Part Number,FO Start,FO Due,FO Issue,FO Confirmed,FO Finish,Work Centre
0,FO6779226,PN04908,2021-03-05,2022-02-22,2021-03-08,2022-02-22,2022-02-22,WCA019
1,FO6256960,PN04908,2022-02-10,2022-03-01,2022-02-11,2022-03-01,2022-03-01,WCA019
2,FO6269620,PN04908,2022-03-24,2022-04-21,2022-03-25,2022-04-21,2022-04-21,WCA019
3,FO6900256,PN04908,2022-06-22,2022-07-12,2022-06-23,2022-07-12,2022-07-13,WCA019
4,FO6969579,PN04908,2022-11-15,2022-11-28,2022-11-16,2022-11-28,2022-11-28,WCA019

In [75]:
# Calculate FO Cycletime
OrderDetail_wc['Start'] = ConvertDate(OrderDetail_wc['FO Start'])
OrderDetail_wc['Finish'] = ConvertDate(OrderDetail_wc['FO Finish'])
OrderDetail_wc['CycleTime'] = OrderDetail_wc['Finish'] - OrderDetail_wc['Start']
OrderDetail_wc.head()

,FO ref,Part Number,FO Start,FO Due,FO Issue,FO Confirmed,FO Finish,Work Centre,Start,Finish,CycleTime
0,FO6779226,PN04908,2021-03-05,2022-02-22,2021-03-08,2022-02-22,2022-02-22,WCA019,2021-03-05,2022-02-22,354 days
1,FO6256960,PN04908,2022-02-10,2022-03-01,2022-02-11,2022-03-01,2022-03-01,WCA019,2022-02-10,2022-03-01,19 days
2,FO6269620,PN04908,2022-03-24,2022-04-21,2022-03-25,2022-04-21,2022-04-21,WCA019,2022-03-24,2022-04-21,28 days
3,FO6900256,PN04908,2022-06-22,2022-07-12,2022-06-23,2022-07-12,2022-07-13,WCA019,2022-06-22,2022-07-13,21 days
4,FO6969579,PN04908,2022-11-15,2022-11-28,2022-11-16,2022-11-28,2022-11-28,WCA019,2022-11-15,2022-11-28,13 days

In [10]:
# visualise data

####plot histogram on cycletime
# pd.DataFrame.hist(data[["cycletime']])
# plt.xlabel('FO Days')
# plt.ylabel('count of FO')
# plt.show()